*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-background-color);
    font-family: var(--default-font);
    color: var(--secondary-text-color);
}

.navbar .nav-items ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 1.6rem;
}

/* ======================================================================== */
img {
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background: url(../Images/profile_wide.jpg) no-repeat center bottom /cover; */
    /* background-attachment: fixed; */
}

header * {
    z-index: 0;
}

.navbar{
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}


.navbar a{
    padding: 1rem 1rem;
    color: var(--primary-text-color);
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
.navbar a:hover{
    color: var(--secondary-text-color);
    
}

.navbar .logo
{
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    background: url("../Images/logo.png") no-repeat center center/contain;
}

.navbar-transform{
    width: 100%;
    position: fixed;
    
}

header .content {
    height: 100%;
}


.content .avatar{
    background: url('../Images/avatar.jpg') no-repeat center center /cover;
    width: 13rem;
    height: 26rem;
}
.content .profile-header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 80%;
    padding: 2rem;
}

.content .profile-header h1, .content .profile-header .sub-heading{
    color: var(--primary-text-color);
}

.about{
    padding: 5rem 0;
    position: relative;
    background-color: var(--secondary-background-color);
    z-index: -1;
}

.about .content{
    padding: 5rem 0 8rem 0;
    font-size: 2rem;
    color: white;
}

.competencies{
    /* border: thin var(--primary-background-color) solid; */
    padding: 2rem 0;
    border-radius: 2rem;
    background-color: #F5F5F5;
    box-shadow:0.5rem 0.5rem 1rem #C4C4C4;
    margin-top: -5rem;
    justify-content: start;
}

.competencies .competency-list{
    display: flex;
    
}

.competencies .competency-list ul{
    padding: 0rem 5rem 0 5rem;
    font-size: 1.5rem;
    text-align: left;
    list-style-type: "►";
}

.competencies .competency-list ul li{
    padding: 0 1rem;
}

#experience {
    margin-top: 5rem;
    text-align: center;   
}
.blocks{
    display: grid;
    grid-template: 
    'block block'
    'block block'
    ;
    gap:1rem;
}

 .block{
    grid-template-areas: block;
    padding: 3rem;
    text-align: left;
    font-size: 1.5rem;
}

#experience {
    padding: 1rem;
}

#experience #co1{
    background: #8FD8D2;
    opacity:0.8;
}
#experience #co2{
    background: #FEDCD2;
    opacity:0.8;
}
#experience #co3{
    background: #DF744A;
    opacity:0.8;
}
#experience #co4{
    background: #DCB239;
    opacity:0.8;
}

.contact-form{
    background-color: transparent;
}

.badges {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
}
#Certifications img {
    width: 15rem;
}


footer{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-background-color);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer section {
    padding: 3rem 0;
}

footer .social{
    display: flex;
}

footer .copyright{
    font-size: 1.1rem;
}

footer .social a {
    margin: 1rem;
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 3rem;
    width:6.2rem;
    border: thin white solid;
    color: white
}

.contact-form{
    width: 100%;
    height: 20rem;
}

footer section.logo
{
    width: 3rem;
    height: 3rem;
    background: url("../Images/logo-light.png") no-repeat center center/contain;
}


