* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(rgba(255,255,255,.84), rgba(255,255,255,.84)), url("../Images/brickwall.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    font-family: var(--default-font);
    transition: 0.5s;
}

body.on {
    background-color: var(--dark-background-color);
    transition: 0.5s;
}

.content .profile-header h1,
.content .profile-header .sub-heading, .content .learn-text p {
    color: var(--dark-text-color);
}

.content .profile-header h1.on,
.content .profile-header .sub-heading.on, .content .learn-text p.on {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.navbar .logo {
    width: 4em;
    height: 4rem;
    background-color: #f4a460;
    -webkit-mask: url(../Images/logo.svg) no-repeat center/contain;
    mask: url(../Images/logo.svg) no-repeat center/contain;
    transition: 0.5s;
}
.navbar .logo.on {
    background-color: #ecf0f1;
    transition: 0.5s;
}

/*.navbar .logo-wrap {
    width: 3em;
    height: 3rem;
    background-color: var(--background-color);
    border-radius: 2rem;
    transition: 0.5s;
}
.navbar .logo-wrap.on {
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 1px 1px 100px 45px #ffff00;
    transition: 0.5s;
}
*/

.navbar-transform {
    width: 100%;
    position: fixed;
}

header .content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: space-between;
}

header .content .learn-text{
    padding: 1rem;
    width: 25rem;
}

header .content .learn-text .q {
    font-size: 0.9rem;
    font-weight: bolder;
}

header .content .learn-text .a {
     font-size: 0.8rem;
}


.content .avatar img.on {
    border: 2px #95a5a6 solid;
    transition: 0.5;
}

.content .avatar img {
    width: 12rem;
    height: 12rem;
    border-radius: 7rem;
    border: 2px #f4f0ec solid;
}


.content .resume {
    font-size: 4rem;
    color: #d0995f;
    margin-top: 20px;
}

.content .resume-text {
    color: var(--dark-text-color)
}

.content .resume-text.on {
    color: var(--text-color)
}

.content .profile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content .sub-heading {
    font-size: 1rem;
}
.content h1 {
    font-size: 2rem;
}

.social {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.social img {
    height: 3.5rem;
    width: auto;
    margin: 0px 3px 0px 3px;
}

.declaration {
    font-family: inherit;
    display: flex;
    justify-content: center;
    color: var(--dark-text-color);
    font-size: 0.7rem;
}

.declaration p {
    position: fixed;
    bottom: 0.5rem;
}

.declaration p.on {
    color: var(--text-color);
}


