:root {
    --primary-background-color: white;
    --secondary-background-color: #E85A4F;
    --tertiary-background-color: #F0958E;
    --blue-background-color: #000066;
    --dark-background-color: #E05D19;
    --light-grey-color: #ccc;
    --primary-text-color: #E85A4F;
    --secondary-text-color: #333;
    --tertiary-text-color: #E98074;
    /* --default-font: 'Roboto', sans-serif; */
    --default-font: 'Open Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
}

h2 {
    font-size: 4rem;
    font-weight: 900;
    padding: 2rem;
}

h3 {
    font-size: 3rem;
    font-weight: 200;
    padding: 2rem;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
}

.sub-heading {
    font-size: 3rem;
}

ul {
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 96rem;
    margin: auto;
}

.blocks {
    display: flex;
    flex-direction: column;
    /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQYV2NkQAOMJAs8AwAB1ADrjxfx1wAAAABJRU5ErkJggg=="); */
    background-repeat: repeat;
    padding: 5rem 0rem;
}


/* .block-pointer-left {
    width: 0;
    height: 0;
    border-right: 2rem solid transparent;
} */


/* .block-pointer-right {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
} */

.right-block {
    justify-content: flex-end;
}

.left-block {
    justify-content: flex-end;
}


/* .left-block .block-content::before {
    content: '';
    position: absolute;
    border-right-style: dashed;
    border-top-style: dashed;
    border-right-width: thick;
    border-top-width: thick;
    border-right-color: var(--blue-background-color);
    border-top-color: var(--blue-background-color);
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    margin-left: 100%;
    top: 80%;
    z-index: -1;
}

.right-block .block-content::before {
    content: '';
    position: absolute;
    border-left-style: dashed;
    border-top-style: dashed;
    border-left-width: thick;
    border-top-width: thick;
    border-left-color: var(--blue-background-color);
    border-top-color: var(--blue-background-color);
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    margin-left: -30%;
    z-index: -1;
    top: 80%;
} */


/* .no-connector .block-content::before {
    content: '';
    display: none;
} */

.block-pointer-left,
.block-pointer-right {
    border-top: 2rem solid var(--blue-background-color);
}

.block {
    display: flex;
    font-size: 1.5rem;
    position: relative;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
    /* border-top: 1rem white dotted; */
}

.seperator {
    display: flex;
    justify-content: space-between;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
}

.seperator .hr {
    color: var(--blue-background-color);
    background: var(--blue-background-color);
    width: 88%;
    height: 0.005rem;
}


/* .block .block-content .hr {
    width: 0.2rem;
    height: 80%;
    background: var(--light-grey-color);
    position: absolute;
    align-self: flex-start;
} */

.seperator .node {
    border-radius: 50%;
    width: 10%;
    height: 9rem;
    font-size: 5rem;
}

.seperator .node>img {
    vertical-align: middle;
    justify-items: center;
}

.block .block-content {
    display: flex;
    flex-direction: column;
    /* background: var(--primary-background-color); */
    /* border: thin var(--blue-background-color) solid; */
    color: var(--blue-background-color);
    width: 95%;
    position: relative;
    /* border-radius: 0.5rem; */
    border-left: 0.3rem var(--blue-background-color) solid;
    padding-left: 5rem;
}

.block .block-content h4 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
    align-self: flex-start;
}

.block .block-content h5 {
    font-size: 1.5rem;
    align-self: flex-start;
}

.block .block-content ul {
    padding: 1.5rem;
    padding-left: 6.5rem;
    list-style: disc;
}

.block .block-content .company-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.block .block-content .company-logo {
    width: 10rem;
    height: 10rem;
}

.block .block-content .company-date {
    align-self: center;
}

#co1 .company-logo {
    background: url('../Images/company-logos/tbi.png') no-repeat center center/contain
}

#co2 .company-logo {
    background: url('../Images/company-logos/Slk.jpg') no-repeat center center/contain
}

#co3 .company-logo {
    background: url('../Images/company-logos/HARMAN-logo.png') no-repeat center center/contain
}

#co4 .company-logo {
    background: url('../Images/company-logos/achumen_1.png') no-repeat center center/contain
}

.competency-icons {
    font-size: 5rem;
    padding: 2rem;
}


/* .sub-partition .dot {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background: var(--primary-background-color);
} */