:root{
    --primary-background-color: white;
    --secondary-background-color: #E85A4F;
    --tertiary-background-color: #F0958E;
    --dark-background-color: #E05D19;


    --primary-text-color: #E85A4F;
    --secondary-text-color: #333;
    --tertiary-text-color: #E98074;

    /* --default-font: 'Roboto', sans-serif; */
    --default-font: 'Open Sans', sans-serif;
}


h1{
    font-size: 5rem;
    font-weight: 900;
}

h2{
    font-size: 4rem;
    font-weight: 900;
    padding: 2rem;
}

h3{
    font-size: 3rem;
    font-weight: 200;
    padding: 2rem;
}

h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
}

.sub-heading{
    font-size: 3rem;   
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    max-width: 96rem; 
    margin: auto;
}
